* {
	margin: 0;
	padding: 0;
}

body {
	background: #7f8c8d;
}
header {
	background: #2c3e50;
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24pt;
	color: #fff;
	text-align: center;
	height: 400px;
	top:0;
	position: absolute;
	z-index: -1;
}

footer {
	background: #ecf0f1;
	border-top: 1px solid #aaa;
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24pt;
	color: #fff;
	text-align: center;
	height: 200px;
	top:0;
	position: absolute;
	top: 700px;
}

.name {
	text-align: left;
	padding: 20px;
	font-size: 36pt;
	box-shadow: 0 2px 8px #000;
	display: inline-block;
	background: #3498db;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.quote {
	margin-top: 80px;
}

.toolbar {
	margin-top: 20px;
	font-size: 12pt;
}
.toolbar span {
	display: block;
}

.toolbar div {
	display: inline-block;
	margin: 10px 40px;
	cursor: pointer;
	color: #95a5a6;
}

.toolbar div.f {
	display: inline-block;
	margin: 10px 20px;
	cursor: pointer;
	
}

.tool {
	font-family: "Aminius";
	font-size: 28pt;
	text-shadow: 0 0 2px #000;
}

.tool-f{
	font-family: "Aminius";
	font-size: 28pt;
	color: #2c3e50;
}

.toolbar div.f:hover {
	
}
.fb .tool-f:hover {
	color: #3b5999;
}
.tw .tool-f:hover {
	color: #3498db;
}
.li .tool-f:hover {
	color: #0181B2;
}
.gm .tool-f:hover {
	color: #c0392b;
}
.gh .tool-f:hover {
	color: #222;
}
.sk .tool-f:hover {
	color: #12A5F4;
}
.mp .tool-f:hover {
	color: #e44;
}

.toolbar div.h:hover {
	color: #ecf0f1;
}

.content {
	background: #ecf0f1;
	position: absolute;
	top: 400px;
	width: 100%;
	height: 300px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20pt;
	text-align: center;
}

.desc {
	margin: 80px;
	display: inline-block;
	width: 960px;
}


@font-face {
	font-family: Aminius;
	src: url('../fonts/aminius.ttf');
}

a {
	text-decoration: none;
}


.blogs {
	width: 960px;
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
	background: #ecf0f1;
	z-index: 1;
	margin-top: 300px;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	padding: 40px;

}
.blog-header {
	font-size: 28pt;
	font-weight: bold;
	display: block;
	padding: 4px;
	text-align: center;
}
.blog-header-info {
	font-size: 14pt;
	display: block;
	padding: 20px;
}

img {
	margin: 0 auto; 
}

p {
	margin: 20pt;
	font-size: 14pt;
	line-height: 2em;
	font-weight: bold;
	text-align: left;
}

.blogs a {
	cursor: pointer;
	color: #3498db;
	text-decoration: underline;
}




